[tool.pyright]

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "jj_wingman"
version = "0.0.14"
authors = [
  { name="Jet", email="taijunjet@hotmail.com" },
]
description = "Wingman library for AI projects."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies=["numpy", "torch", "wandb", "pyyaml"]
keywords=["Machine Learning"]

[project.urls]
"Homepage" = "https://github.com/jjshoots/Wingman"
